#header_wrap {
    background-image: url(/assets/images/background.jpg);
    background-color: #222;
    background-attachment: fixed; 
    background-position: center top;
    background-repeat: no-repeat;
}

.page-link {
    margin-right: 1em;
    color: white;
}

#disqus_thread {
    margin-top: 1em;
}
